hr {
    margin: 0;
    padding: 0;
    clear: both;
}

#day {
    position: absolute;
    bottom: 0;
    left: 0;
}

#map {
    float: left;
    height: 102vh
}

.body-container {
    background-color: #EFEFEF;
}

.container {
    width: 100%;
    margin: 0;
}

.navbar-brand {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #500000
}

.navbar-container {
    background-color: maroon;
}

.purpblock {
    margin-top: 5%;
    background-color: #aaaaaa;
    border-radius: 5px;
}

.dropdown .row {
    margin: 0
}

#day {
    margin: 0;
    padding: 0
}

.daycount {
    background-color: maroon;
}

.daycount .btn-primary {
    background-color: #f5f5d9;
    color: black;
    margin: 6% 1% 6% 1%;
}

.sidebar {
    padding: 0;
    height: 35vh;
    float: left;
    margin-bottom: 20px;
}

.sidebar-middle {
    height: 8vh;
    padding-top: 7px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.sidebar-label {
    margin-left: 2%;
    display: block;
    clear: left;
    font-size: 15px;
}

.sidebar-select {
    margin: 2%;
    margin-right: 15%;
    margin-bottom: 5%;
    width: 70%;
    height: 30%
}

.sidebar-middle .row {
    margin: 0
}

.orangeblock {
    background-color: #aaaaaa;
    height: 100%;
    border-radius: 5px;
}

.orangeblock h2 {
    padding: 5px 0 0 0;
    margin: 0 0 0 15px;
    font-size: 20px;
}

.orangeblock li {
    display: inline-block;
    font-size: 16px;
    margin-top: 2%;
    margin-right: 20%;
}

.orangeblock .row {
    margin: 0
}